/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/02/2019, 01:17:24 PM
    Author     : JC
*/

div{
    font-size: 100px;
    background-color: red;
    color: white;
    border: 1px;
}

span{
    background-image: "../imagenes/imagenCSS.png";
    background-color: yellow;
    color: orange;
}

h4{
    font-size: 8px;
}